* {
  font-family: 'Righteous', cursive;
  font-size: large;

}
/* buttons for the choices of the quiz */
#btn0,
#btn1,
#btn2,
#btn3 {
  background-color: #26A2B8;
  border: solid Black;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px
}
/* start button for the quiz */
#start-quiz-button {
  border: solid Black;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
/* submit button for the quiz */
#submitBtn {
  border: solid Black;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

#viewHighScore {
  background-color: #26A2B8;
  border: solid Black;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

#viewHighScore:hover {
  cursor: pointer;
  background-color: #1f8395;
}

#finalScore {
  font-size: larger
}